header {
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 15;
  top: 0;
  left: 0;
  right: 0;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 0 0.3rem black;
}

header h2 a {
  padding: 1rem;
  margin: 1rem;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

header h2 a:hover {
  text-shadow: 0 0 0.3rem black;
}
