body {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body::-webkit-scrollbar {
  width: 1.2em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(223, 217, 217);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(49, 56, 00);
  outline: 1px solid slategrey;
}

body::-webkit-scrollbar-button {
  background-color: rgb(154, 196, 184);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
