@keyframes slideRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.smartphonesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 1 200px;
  padding: 3rem 0.2rem;
  margin: 0.3rem 0.5rem;
  animation: slideRight 1.2s ease-in;
}

.cardContainer {
  display: flex;
  cursor: pointer;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 12px solid rgb(25, 26, 29);
  /* padding: 0.1rem 1rem; */
  margin: 2rem;
  filter: drop-shadow(0 0 0.3rem black);
  width: fit-content;
  height: fit-content;
}

.cardContainer:hover {
  transition: all 0.5s ease-in;
  transform: scale(1.1);
}

.badgeHolder {
  border: 1px solid black;
  margin: 0.4rem;
}

.cardDetailsContainer {
  transition: all 0.5s ease-in;
}

.cardDetailsTop {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.2rem 0.6rem;
}

.cardDetailsTitle,
.cardDetailsPrice {
  font:alef;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.46rem;
  margin: 0.4rem 0;
  font-size: 1.4rem;
  width: inherit;
  color: white;
  text-shadow: 0 0 0.2rem black;
}

.cardDetailsTitle:hover,
.cardDetailsPrice:hover {
  filter: drop-shadow(0 0 0.3rem black);
  cursor: pointer;
}

.cardDetailsTitle {
  cursor: pointer;
  border-bottom-left-radius: 11px;
  border-top-left-radius: 11px;
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cardDetailsPrice {
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cardContainer .cardSpecs {
  display: none;
  /* min-width: 240px; */
  /* width:fit-content; */
  height: fit-content;
  margin: auto;
  padding: auto;
  /* padding: 2rem; */
}

.cardContainer:hover .cardSpecs {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: rgba(255, 255, 255, 0.438);
  padding: 3px 1rem;
  margin: -13px 0.2rem;
  height: 100%;
}

.cardSpecs {
  animation: slideUp 1s ease-in-out;
  transition: all 0.5s ease-in;
}

@keyframes slideUp {
  from {
    transform: translateY(-30%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.loadMoreButton {
  font: alef;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.8rem;
  margin: auto;
  font-size: 1.5rem;
  border-radius: 4px;
  background: rgb(11, 120, 170);
  color: white;
  width: fit-content;
}

@media (min-width: 880px) {
  .cardDetailsContainer .cardSpecs {
    min-height: 180px;
  }

  .cardDetailsContainer:hover .cardSpecs {
    top: 10%;
  }

  .cardContainer {
    max-width: 180px;
    min-width: 180px;
    max-height: 190px;
    min-height: 190px;
  }

  .cardSpecs {
    padding: 0.13rem 0;
    margin: 0.3rem 0;
    /* min-height: 95px; */
    /* max-height: 95px; */
  }
}

@media (max-width: 880px) {
  .cardDetailsContainer .cardSpecs {
    min-height: 170px;
  }

  .cardDetailsContainer:hover .cardSpecs {
    top: 6%;
  }

  .cardContainer {
    max-width: 190px;
    min-width: 190px;
    max-height: 190px;
    min-height: 190px;
  }

  .cardSpecs {
    padding: 0.3rem;
    margin: 0.3rem 0;
    /* min-height: 120px; */
    /* max-height: 120px; */
  }
}
